body,
html,
div,
ul,
li,
input,
button
{
    box-sizing: border-box;
}
*
{
	font-size:12px;
    color: rgba(0,0,0,.8);
}
ul
{
    list-style: none;
}
input
{
    border: 1px solid;
    outline: none;
}
a
{
    text-decoration: none;
}
span.fleft
{
	float: left;
}
span.fright
{
	float: right;
}