/*清零样式*/
*{
	margin: 0px;
	padding: 0px;
}
body{
	font: 15px Helvetica,Arial,sans-serif;
}
img,input{
	border: 0px;
}
li{
	list-style: none;
}
/*头部*/
#Movie-header{
	width: 950px;
	height: 90px;
	margin: 0 auto;
	position: relative;
}


#Movie-header .header-search{
	width: 270px;
	height: 30px;
	position: absolute;
	left:183px;/*设置距离基准线的位置*/
    top: 31px;
    color:#e4e4e4;
    border:1px solid #999;
    padding-left: 7px;
}

#Movie-details{
	width: 950px;
    height: 524px;
    margin: 42px auto 0;
    position: relative;
}

#Movie-details .con-left{
	width: 382px;
    height: 524px;
    position: absolute;
    left: 0;
    top: 0;
}

#Movie-details .con-mid{
	width: 301px;
    height: 524px;
    position: absolute;
    left: 210px;
    top: 30px;
}

#Movie-details .right{
	height:200px;
	position: absolute;
	left:300px;
	top: 0px;
}

#Movie-details .down{
	left: -510px;
	width:500px;
	position: relative;
	top:188px;	
}

#Movie-details .down p{
	width: 800px;
}
#Movie-details .down span{
	color: green;
}

#Movie-details .Movie-details-actor{
	width:500px;
	top: 200px;
}

#Movie-details  ul.Movie-actor-list{
	margin-top: 16px;
}

#Movie-details  ul.Movie-actor-list li{
	margin-bottom: 30px;
	overflow: hidden;
}

#Movie-details-actor .titie span{
	color: green;
}
#Movie-details-ac ul.Movie-actor-list li{
	top:0;
	float: left;
}

#Movie-details .Movie-details-actor ul li span{
	color: grey;
}

#Movie-details .Movie-details-like{
	position:absolute;
	top: 1000px;
}


#Movie-details ul.Movie-like-list li{
	top:0;
	position:relative;
	float:left;
}

#Movie-essay .con-left{
	position:absolute;
	top:640px;
}

#Movie-article .con-left{
	position:absolute;
	top:780px;
}
#Movie-ads .con-left{
	position:absolute;
	top:1000px;
}