.login-wrapper
{
    width: 950px;
    margin: 0 auto;
}
.login-wrapper h1
{
    margin-bottom: 50px;
}
.login-header
{
    overflow: hidden;

    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    padding-top: 30px;
}
a.logo
{
    line-height: 10em;

    float: left;
    overflow: hidden;

    width: 215px;
    height: 30px;

    background: transparent url(../image/doubanaccount.png) no-repeat;
}
.login-item
{
    width: 100%;
    height: 30px;
    margin-top: 15px;
}
.login-item label
{
    font-size: 14px;
    line-height: 30px;

    display: inline-block;
    float: left;

    width: 50px;
    margin-right: 15px;

    text-align: right;
    vertical-align: baseline;
}
.normal_input
{
    width: 210px;
    height: 30px;
    padding: 0 10px;

    border: 1px solid rgba(0,0,0,.3);
    border-radius: 3px;
}
.normal_input:focus
{
	box-shadow: 0 0 1px 1px #268dcd;
}